<!-- <div class="container" id="container" [class.active]="isActive">
      <app-register></app-register>
      <app-login></app-login>
      <div class="toggle-container">
        <div class="toggle">
          <app-register-container
            [isActive]="isActive"
            (toggleActive)="toggleContainer($event)"
          ></app-register-container>
          <app-login-container
            [isActive]="isActive"
            (toggleActive)="toggleContainer($event)"
          ></app-login-container>
        </div>
      </div>
    </div> -->
<router-outlet></router-outlet>
